.TodoBuscador {
    background: #F9FBFC;
    border-radius: 2px;
    border: 2px solid #202329;
    margin: 0 24px;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Monserrat';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32,35,41,0.25);
}

.TodoBuscador::placeholder {
    color: #A5A5A5;
    font-family: 'Monserrat';
    font-weight: 400;
}

.TodoBuscador:focus {
    outline-color: #61DAFA;
}

.TodoBuscador:disabled {
    /* background: #E0E0E0;
    border-color: #A5A5A5;
    color: #7A7A7A; */
    opacity: 25%;
}