.TodoContador {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: normal;
}

.TodoContador span{
    font-weight: bold;
}

.hidden{
    display: none;
}

.Todos-completados{
    display: block;
}

.TodoContador--loading {
    /* background: #E0E0E0;
    border-color: #A5A5A5;
    color: #7A7A7A; */
    opacity: 25%;
}