.TodoContador {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: normal;
}

.TodoContador span{
    font-weight: bold;
}

.hidden{
    display: none;
}

.Todos-completados{
    display: block;
}